<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <clear />
  <add name="ConnectionString" connectionString="Data Source=DESKTOP-1FSLS4A;&#xD;&#xA;			Initial Catalog=Invoice;&#xD;&#xA;			User ID=sa;&#xD;&#xA;			Password=123456"
   providerName="System.Data.SqlClient" />
  <add name="InvoiceApp.Properties.Settings.InvoiceConnectionString"
   connectionString="Data Source=DESKTOP-1FSLS4A;Initial Catalog=Invoice;User ID=sa;Password=123456"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>